.board {
    position: relative;
    width: 390px;
    height: 422px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(199.2deg, #A5C1EE -11.99%, #0046CF 104.3%);
    border-radius: 20px;
    grid-template-columns: 1fr;
    z-index: 3;
}

.board table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.board table tr td {
    background-image: url('../../attachments//boardTools/Coin-white.svg');
    background-position: center;
    background-repeat: no-repeat;
}

#coin-1 {
    background-image: url('../../attachments//boardTools/Coin-red.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 66%;
    animation: dropCoin 0.3s linear 1;
}

#coin-2 {
    position: relative;
    background-image: url('../../attachments//boardTools/Coin-yellow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 66%;
    animation: dropCoin 0.5s linear 1;
}

#coin-0 {
    position: relative;
    background-image: url('../../attachments//boardTools/Coin-white.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 66%;
}

@keyframes dropCoin {
    0% {
        transform: translateY(-500px);
    }
    65%{
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-40px);
    }
    90% {
        transform: translateY(0px);
    }
    95% {
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}