.homePage-page{
  height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
.homePage-header{
  height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #3F3F3F;
    font-size: 20px;
    text-align: center;
    gap: 7%;
}
.homePage-header img{
  width: 30%;
  max-width: 7rem;
  margin-top: 0;
}
.homePage-header h3{
  margin: 0px;
  font-weight: 100;
  font-size: 1.3rem;
}

.homePage-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15%;

}
.homePage-footer img{
  margin-bottom: 0.1rem;
}
.homePage-footer p{
  font-family: 'poppins';
  font-size: 20px;
  font-weight: 500;
  color: #3F3F3F;
  margin: 0;
}
.homePage-body{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 26%;
  margin-top: 1rem;
  margin-bottom: 9rem;
}
.homePage-body_buttons-container button {
  margin: 0.3rem;
  width: 15rem;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'poppins' ;
  font-weight: 275;
  
}



