* {
  font-family: poppins;
  font-weight: 275;
}

#scores-back-button {
  background-color: white;
  color: rgba(63, 63, 63, 1);
  font-weight: 700;
  margin-top: 20px;
  margin-left: 25px;
}

#scores-upper-page {
  display: flex;
  justify-content: center;
}

#scores-logo {
  height: 100px;
  width: 100px;
  margin-bottom: 30px;
}

#scores-headline {
  font-size: 24px;
 padding-left: 12px;
}

#scores-item {
  background-color: rgba(42, 109, 216, 0.19);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 10px 12px;
  padding: 9px;
  height: 34px;
}
