.gamePage-page {
    /* background-color: aqua; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gamePage-header {
    /* background-color: rgb(255, 0, 0); */
    height: 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gamePage-body {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gamePage-footer {
    height: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-buttons-container{
    display: flex;
    flex-direction: column;  
    margin-top: 10px; 
}
.modal-buttons-container button{
    margin: 9px;
    width: 123px;
    font-weight: 100;
    font-size: 1em;
    padding: 2px;
    border-radius: 8px;
}

.modal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-headers-container{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.modal-headers-container h1{
    margin: 0px;
}


