.gamePage-page {
    /* background-color: aqua; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gamePage-header {
    /* background-color: rgb(255, 0, 0); */
    height: 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gamePage-body {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gamePage-footer {
    height: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
